.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #BDBDC4;
    font-size: 15px;
}

.table tr:nth-of-type(odd){
    background-color: #F7F8FB;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}